.search-box {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.8);
   z-index: 9999;
   overflow: auto;
}

.search-form {
   width: 1000px;
   background-color: white;
}

.search-input {
   border: 1px solid #222;
}