.wrapper {
  width: 1280px;
  margin: 20px auto;
}

header {
  position: relative;
}

header .header {
  display: flex;
  justify-content: space-between;
}

header .search {
  display: flex;
  width: calc(100% / 3);
  font-size: 23px;
  align-items: center;
}

.search-icon {
  cursor: pointer;
}

header .header-logo {
  text-align: center;
  width: calc(100% / 3);
  font-weight: 700;
  font-size: 30px;
}

header .logo {
  text-decoration: none;
  color: #222;
}

header .header-menu {
  width: calc(100% / 3);
  display: flex;
  gap: 25px;
  justify-content: right;
  font-size: 25px;
  align-items: center;
}

header .presentation {
  margin: 25px 0;
  background: url('../../img/banner.jpg') no-repeat;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
}

header .nav-list {
display: flex;
gap: 60px;
justify-content: center;
list-style: none;
}

.parfums-category {
  position: relative;
}

.categories:hover {
  border-bottom: 1px solid #222;
}

.parfums-category:hover .parfums,
.makeup-category:hover .makeup,
.hair-category:hover .hair,
.face-category:hover .face,
.body-category:hover .body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 200px;
  background-color: white;
  -webkit-box-shadow: -7px 16px 18px -8px rgba(46,46,46,0.37); 
box-shadow: -7px 16px 18px -8px rgba(46,46,46,0.37);
}

header .nav-podlist {
  position: absolute;
  list-style: none;
  padding: 10px 5px;
  display: none;
}

header .pod-categories {
  text-decoration: none;
  color: #222;
  font-weight: 400;
  font-size: 16px;
}

header .categories {
  text-decoration: none;
  color: #222;
  font-weight: 400;
  font-size: 18px;
}

footer {
  text-align: center;
  margin-top: 100px;
}
